.mealName {
    font-size: 1rem;
    font-weight: bolder;
    margin-bottom: 0;
}

.removeAllButton {
    margin-right: 1rem;
    background-color: rgb(3, 40, 43);
}

.closeButton {
    height: fit-content;
    padding: .5rem;
}