$secondary-color: rgb(94, 91, 89);

.modalBody {
    padding: 0;
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
    &::-webkit-scrollbar {
        width: 0;  /* Chrome */
    }

    .content {
        margin: 1.5rem 2rem;
    }
}

.moreInformation {
    margin: 1rem .5rem;
    font-size: .85rem;
    color: $secondary-color;
    list-style: none;
    padding: initial 1rem;
    font-size: .9rem;

    .mealLi::before {
      content: '\2713';
      color: green;
      display: inline-block; 
      width: 1em; 
      margin-left: -1em; 
    }
}

.imageContainer {
    position: relative;
    height: 18rem;
    justify-content: center;
    align-items: center;
    display: flex;
}

.notAvailable {
    opacity: .5;
    background-color: rebeccapurple;
}